
.scene-container {
  display: flex;
  width: 100% !important;
}
.scene-container canvas {
  display: flex;
  width: 100% !important;
}
#tsparticles{
  position: fixed;
  z-index: -1;
}    
.transmute-jwt-header {
  position: absolute;
  background-color: red;
  opacity: 0.5;
}
.transmute-jwt-payload {
  position: absolute;
  background-color: purple;
  opacity: 0.5;
}
.transmute-jwt-signature {
  position: absolute;
  background-color: blue;
  opacity: 0.5;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}